*{

	padding: 10px;
	/*border:1px solid;*/
}
.title{
	font-size:5vh;
	height:10%;
}
.note_container{
	height:90%;
}
.note_title{
	height:10%;
	/*margin-bottom: 2px;*/
}
.note_main{
	height:90%;
	/*margin-top: 2px;*/
}